<!DOCTYPE html>
<html ng-app="todo">
<head>
	<title>To do list</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
	<body>
		<div class="bground">
			<header>
				<h1>To do list:</h1>
			</header>
			<div class="main" ng-controller="todoCtrl">
				<div class="AddFldContainer">
					<input type="text" name="search" class="inputField" placeholder="Type some task" ng-model="task">
					<button class="AddBtn" ng-click="add($event)">Add</button>
					<input type="text" name="tagInput1" class="tagInput" placeholder="Type some tag" ng-model="tag">
					<select class="tagList" ng-model="tag">
						<option ng-repeat="tag in tags">{{tag}}</option>
					</select>
					<div class="tagsContainer">
						<div class="tagsHolder">
							<h3>Tags:</h3>
							<div class="tags">
								<span class="tag" ng-repeat="tag in tags" ng-click="tagFltr(tag)">{{tag}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="toDoListHolder">
					<ol class="ToDoList">
					<item ng-repeat="item in filteredData = (data | filter: {tag : tagSelected}) | startFrom: startingItem() | limitTo: itemsPerPage" item="item" data="data"></item>
					</ol>
					<div class="pagerHolder" id="pagination" ng-show ="numberOfPages() > 1">
						<button class="Pagebtn" ng-disabled="firstPage()" ng-click="pageBack()">Prev</button>
						<span>{{currentPage+1}} from {{numberOfPages()}}</span>
						<button class="Pagebtn" ng-disabled="lastPage()" ng-click="pageForward()">Next</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html> 